[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ImageViewer
Exec=/usr/bin/single-instance /opt/ImageViewer/bin/ImageViewer
Icon=/usr/share/icons/hicolor/80x80/apps/ImageViewer80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
